.movie__footer {
  background-image: url('../../../images/slide_cinema1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .grid p {
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 18px;
    &:hover {
      color: red;
    }
  }
}
